.frontpage {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.frontpage p , strong {
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 12px;
}

.frontpage p{
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dff5f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(235, 28, 28);
}

.dashboard-header {
  background-color: #dff5f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(221, 169, 169);
}

.Font{
  color: black;
}

